ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    position: fixed;
    top: 0;
    height: 3em;
    width: 100%;
    background-color: #333333;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large;
    overflow: hidden;
  }

  body{
    margin-left:0px;
  }
  
  .nav {
    display: inline;
    float: right; 
  }

  a {
    padding: 20px;  
    display:flex;
    color: #ff0099;
    margin-right:20px;
  }

li a:hover {
    background-color:grey;
    border-radius: 12px;
  }

#logo{
    margin-left:96px;
    margin-top:10px;
  }

body{
    background-image: url("../assets/topography.png");
}

h1, p{
    text-align: left;
    padding-left: 60px;
    font-family: 'Merriweather', serif;
    color:  #333333;
    }

h1{
    padding-top: 120px;
}

p{
  font-size: large;
  text-align: justify;
}

img{
  height: 200px;
  width: auto;
  padding:180px 60px;
  }

.main {
   display: flex;
  justify-content: center;
   margin: 200px;
   margin-bottom:100px;
   height: auto ;
   width: auto;
   background-color: rgb(184,184,184, 0.3);
   border-radius: 5%;
  }

  ol li {
    counter-increment: list;
    list-style-type: none;
    position: relative;
    color:  #333333;
    margin: 30px 180px 30px 96px;
    font-size: medium;
    text-align: justify;
    font-family: 'Merriweather', serif;
  }

  ol li:before {
    color:#ff0099;;
    content: counter(list) ".";
    left: -32px;
    position: absolute;
    text-align: right;
    width: 26px;
  }